@import 'scss/reset';
@import 'scss/base';

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

header, main, footer {
  width: 100%;
}

.new-member-form, .member-list {
  width: 70%;
}

main {
  max-width: 960px;
  margin: 0 auto;
  flex: 1;
  padding: 2rem 0;
}

header {
  background: #f4f4f4;
  text-align: center;
  padding: 2em;
}

header img {
  max-width: 96px;
}

header h1 {
  font-size: 2.5em;
}

h1, h2 {
  text-align: center;
}

.crew {
  margin-bottom: 4rem;
}

label {
  display: block;
  margin-bottom: 0.5em;
  text-align: left;
}

.new-member-form {
  margin: 2em auto 4em;
  text-align: center;

  & *:not(.formBtn) {
    text-align: center;
    width: 100%;
  }

  .formBtn {
    padding: .5rem 1.5rem;
    background: #f4f4f4;
    margin: 1rem auto 0;
    border-radius: 7px;
    transition: background-color 200ms ease-in-out;

    &:hover {
      background-color: hsl(0, 0%, 90%);
    }
  }
}

.errorField {
  color: orangered;
  font-size: .8rem;
  text-align: left;
  padding: .5rem 0;
}

.member-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  margin: 2rem auto 0;

  &::before, &::after {
    position: absolute;
    content: '';
    width: 10%;
    height: 1px;
    top: 50%;
    transform: rotate(90deg);
    background: #ddd;
  }

  &::before {
    left: 28%;
  }

  &::after {
    right: 29%;
  }

  .member-item {
    height: 2rem;
    text-align: center;
    padding: 0.25em 0;
  }
}

footer {
  margin-top: 2em;
  text-align: center;
  color: #fff;
  background: #f76c6c;
  padding: 0.25em 0;
}
